#card-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: var(--header-height) 0 0 0;
}

#card-view {
    display: flex;
    padding: 25px;
    border-radius: 15px;
    background-color: #f1f1f8;
}

#card-face-controls-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 25px 0 50px;
}

.ml-btn {
    margin-left: 15px;
}

@media only screen and (max-height: 667px) and (orientation: landscape) {
    #card-view {
        height: 80%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    #card-view {
        flex-direction: column;
    }

    #card-face-controls-container {
        padding: 25px 0 0 0;
    }
}
