#card-view {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#card-view-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    width: 35vh;
}

#card-view-face {
    align-items: center;
    display: flex;
    justify-content: center;
}

#card-view-face-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
    width: 35vh;
}
