.alt-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

#deck-collection {
    margin: 25px;
}

#collection-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 25px 0;
}
