.alt-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#deck-collection {
    margin: 25px 25px 0 25px;
}

.collection-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 25px 0;
}

#collection-footer {
    height: 25px;
}
